body {
    background-image: url(aka-thailand.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-family: Geneva, Tahoma, sans-serif;
}

.container {
    background-color: rgba(72, 73, 72, 0.589);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    margin-top: 10vh;
    max-width: 20%;
    max-height: 10%;
}

button {
    border-radius: 10px;
    border-color: transparent;
    height: 30px;
    width: 70px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
}

#kick-btn {
    background-color: #414A37;
}

#kick-btn:hover {
    background-color: #616e53;
}

#save-btn {
    background-color: rgb(218, 42, 42);
    margin-top: 5%;
}

#save-btn:hover {
    background-color: rgb(235, 84, 84);
}

#sceen {
    background-color: rgb(148, 141, 133);
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-width: 2px;
    border-radius: 10px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 20%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#save-el {
    font-weight: 900;
    background-color: rgb(201, 197, 192);
    border-style: solid;
    border-color: rgb(124, 119, 119);
    border-width: 2px;
    border-radius: 8px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    max-height: 40%;
    max-width: 100%;

}

#refresh-btn {
    margin-top: 5%;
    background-color: cadetblue;
    width: 100%;
}